
.apptk{
	cursor: pointer;
}

.apptk button{
	margin-bottom: 5px;
}


.biobox .mugshot{
	border: thin solid #888;
	float: right;
	margin: 0 0 10px 10px;
	height: 100px;
	width: 75px;
}

.focusin .lbl{
	font-weight: bold;
}

.infobox .info-label{
	cursor: pointer;
}

.infobox .focus{
	display: none;
}

.infobox:hover .info-label{
	background: #fcc;
}
.infobox.is_focus .info-label{
	background: #fff;
	color: red;
	cursor: default;
	font-weight: bold;
}

#mainnav{
	background: #dff;
	height: 60px; /* @mainnav-height*/
	border-bottom: thin solid black;
	padding: 10px;
	position: fixed;
	top: 0;
	width: 700px;
}

#mainscreen section.content{
	margin-top: 60px; /* @mainnav-height*/
}


#panels{
	position: fixed;
	width: 219px;
}

.panel ul{
	margin-left: 0;
}
.panel ul li{
	list-style: none;
}

.panel .focus-subpanel{
	display: none;
	padding: 10px;
	border: thin dotted #888;
	text-align: center;
}


.statement{
	margin-bottom: 2.0em;
}

.statement.highlight{
	background: #dff;
}

.statement .person .name{
	font-weight: bold;
}



#transcript .scrubber{
	background: #fdd;
	height: 30px;
	position: relative;
}

#transcript .scrubber .progress-pin{
	width: 2px;
	height: 30px;
	border: thin solid green;
	position: absolute;
}
