
.apptk{
	cursor: pointer;
}



.infobox{
	cursor: pointer;
}
.infobox:hover{
	background: #fcc;
}
.infobox.is_focus{
	background: #ccc;
}

.panel .focusbox{
	display: none;
}


.statement{
	margin-bottom: 2.0em;
}

.statement.highlight{
	background: #dff;
}

.statement .person .name{
	font-weight: bold;
}