<div class="apptk infobox show_all" style="display: none;">Show All</div>
<ul class="list"></ul>

<div class="focusbox">
	<div class="focusin"></div>

	<div class="stats">
		<div class="statement-count">Statements</div>	
	</div>	
	
	<div class="controls">
		<div class="apptk prev_focused_asset"><button>Previous Statement</button></div>
		<div class="apptk next_focused_asset"><button>Next Statement</button></div>	
		<div class="apptk show_all"><button>Show All People</button></div>
		
	</div>
	
</div>